{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <meta charset="UTF-8">
    <title>Опросник</title>
</head>
<body>
{% block start_page %}
{% endblock %}

{% block active_polls %}
{% endblock %}

{% block answer_question %}
{% endblock %}

{% block get_user_id %}
{% endblock %}

{% block polls_submitted %}
{% endblock %}

{% block polls_submitted_detailed %}
{% endblock %}

{% block start_poll %}
{% endblock %}

{% block thanks %}
{% endblock %}



</body>
</html>